{%extends 'index.html'%}
{%block titulo%}{{actor.nombre}}{%endblock%}

{%block contenido%}

<img src="{{actor.imagen}}" alt="">
<h2>{{actor.nombre}}</h2>
<span>Año nacimiento: {{actor.nacimiento}}</span>
<span>Pais: {{actor.pais}}</span>

<span>Lista de peliculas:</span>


<ul>

{%for pelicula in actor.peliculas.all %}

<li><strong>{{pelicula.nombre}}</strong><em>Año: {{pelicula.anyo}}</em>
    <br>
    <span>{{pelicula.sinopsis}}</span>
    <br>
    <a href="{% url 'detalle_peliculas' pelicula.id%}">Ver pelicula</a>
    <br>
    <img src="{{pelicula.imagen}}" alt="" width="300px">
</li>

{%endfor%}

</ul>

{%endblock%}