
{% extends 'index.html' %}

{% block titulo %} genero.nombre {%endblock%}
{%block contenido%}

<h2>{{genero.nombre}}</h2>
<span>Lista de peliculas:</span>


<ul>

{%for pelicula in genero.peliculas.all %}

<li><strong>{{pelicula.nombre}}</strong><em>Año: {{pelicula.anyo}}</em>
    <br>
    <span>{{pelicula.sinopsis}}</span>
    <br>
    <a href="{% url 'detalle_peliculas' pelicula.id%}">Ver pelicula</a>
    <br>
    <img src="{{pelicula.imagen}}" alt="" width="300px">
</li>

{%endfor%}

</ul>

{%endblock%}